nav button {
    background-image: linear-gradient(100deg, lightblue, #222222);
}

nav button:hover {
    background-image: linear-gradient(200deg, lightblue, #222222);
}


.flex-container{
    /*parallax background*/
    background-image: url("../images/carrier2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}