title {
    color: #222222;
;
}
header{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

section, .Content-Box{
    flex-grow: 20;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.Content-Box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

section {
    font-family: "Microsoft JhengHei";
    text-align: center;
}

footer{
    flex-grow: .2;
    text-align: right;
}

nav{
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgrey;
    color: #222222;

}

nav a{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav button {
    flex-grow: 1;
    background-image: linear-gradient(100deg, lightblue, #0088cc);
    border: 0px;
    outline: 1px solid lightgray;
    height: 2em;
    font-size: x-large;
}

nav button:hover {
    background-image: linear-gradient(200deg, lightblue, #0088cc);
    outline: 1px solid lightgray;
}

footer p{
    margin-right: 10px;
    text-align: right;
}

.flex-container {
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(300deg, lightblue, #0088cc);
    min-height: 99vh;
    }

header img{
    height: 80%;
}

h1, h2, h3, h4, p{
    font-family: "Microsoft JhengHei";
}

h1{
    font-size: 2em;
    margin-left: 2em;
}

section p, section h2, section h3, section h4{
    display: block;
}

.intro-text {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-size: xx-large;
    margin-top: 20px;
    font-family: "Microsoft JhengHei";
    color: #222222;
}

.kleinesbild{
    height: 10em;
    width: 10em;
    border-radius: 20%;
    box-shadow:2px 2px 5px #000000;
}

.vorschaubild1 {
    width: 768px;
    height: 300px;
    display: none;
    flex-basis: 100%;
    margin-top: -200px;
    justify-content: center;
}

.vorschaubild1 img{
    width: 30em;
    height: auto;
    border-radius: 1%;
    box-shadow:2px 2px 5px #000000;
}

.vorschaubild2{
    width: 768px;
    height: 300px;
    display: none;
    flex-basis: 100%;
    margin-top: -200px;
    justify-content: center;
}

.vorschaubild2 img{
    width: 30em;
    height: auto;
    border-radius: 1%;
    box-shadow:2px 2px 5px #000000;
}

.vorschaubild3{
    width: 768px;
    height: 300px;
    display: none;
    flex-basis: 100%;
    margin-top: -200px;
    justify-content: center;
}

.vorschaubild3 img{
    width: 30em;
    height: auto;
    border-radius: 1%;
    box-shadow:2px 2px 5px #000000;
}

.imagebox {
    margin-top: 20px;
    flex-basis: 100%;
    text-align: center;
    box-sizing: border-box;
}

 .imagebox img:hover {
    outline: 1px solid lightgray;
     height: 10.1em;
     width: 10.1em;
}

.text-hidden {
    display: none;
}

.vorschaubild{
    display: none;
    border-radius: 2%;
    flex-basis: 100%;
    justify-content: center;
}

a.bild1:hover ~ div:nth-of-type(2){
    display: block;
}

a.bild2:hover ~ div:nth-of-type(3){
    display: block;
}

a.bild3:hover ~ div:nth-of-type(4){
    display: block;
}

.leftSideFairy {
    display: flex;
    flex-basis: 100%;
    align-content: center;
    justify-content: center;
    color: #222222;

}
.rightSideFairy0 {
    display: none;
    color: #222222;
    font-weight: bold;
}

.rightSideFairy {
    font-weight: bold;
    display: flex;
    flex-basis: 50%;
    align-content: center;
    justify-content: center;
    color: #222222;

}
.keinePunkte {
    font-weight: bold;
    list-style: none;
    color: #222222;
}
.akinkleinebilder {
    height: 5em;
    width: 5em;
    border-radius: 20%;
    box-shadow:2px 2px 5px #000000;

}
.animated-image {
    display: none;
}
.imageSizeAnimation {
    display: none;
}



@media (min-width: 1000px){

    .imageSizeAnimation {
        height: 100px;
        width: auto;
        display: block;
    }
    .animated-image {
        display: flex;
        position: relative;
        animation: slideLeft 10s linear infinite;
        flex-basis: 100%;

    }
    @keyframes slideLeft {
        0% {
            left: 100%;
        }
        100% {
            left: -100%;
        }
    }

    .leftSideFairy {
        flex-basis: 50%;
    }
    .rightSideFairy0 {
        flex-basis: 25%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .rightSideFairy {
        flex-basis: 25%;
        margin-top: -60px;
    }


    .Content-Box {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 20;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
        justify-content: space-around;
    }

    .imagebox {
        margin-top: 50px;
        flex-basis: 33%;
    }

    .kleinesbild{
        height: 100px;
        width: 100px;
        margin-bottom: 260px;
    }

    nav{
        flex-direction: row;
    }

    nav button {
        flex-grow: 0.5;
        background-image: linear-gradient(100deg, lightblue, #0088cc);
        border: 0px;
        border-radius: 50px;
        height: 1.5em;
        font-size: large;
    }
}