


.InlineButtons, .status, .WilderHund, .Teich{

    display: none;
    box-shadow:2px 2px 5px #000000;
}

ul {
    list-style: none;
    color: #222222;
}

section p {
    max-width: 400px;
    align-self: center;
    color: #222222;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.textImgBundle{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.textImgBundle p{
    margin-right: 10px;
}

.abtrennung{
    border-bottom: 1px solid lightgray;
}

.flex-container{
    /*parallax background*/
    background-image: url("../images/theForest.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container p, .flex-container h1, .flex-container h2, .flex-container h3, .flex-container h4, .flex-container ul{
    color: white;
}

.Rotertext{
    color: red;
}

nav button, .LinkButton{
    background-image: linear-gradient(100deg, lightgreen, green);
}

nav button:hover, .LinkButton:hover{
    background-image: linear-gradient(200deg, lightgreen, green);
}

.Content-Box a{

}

.LinkButton{
    border: 0px;
    outline: 1px solid lightgray;
    height: 2.5em;
    font-size: large;;
    border-radius: 50px;
}


@media (min-width: 1000px){

    .InlineButtons, .status, .WilderHund, .Teich{
        display: inline;
        align-self: center;
        height:auto;
    }

    .InlineButtons{
        width: 20em;
        border-radius: 10px;
    }

    .status{
        width: 35em;
        border-radius: 10px;
    }

    .WilderHund{
        width: 20em;
        border-radius: 10px;
    }

    .Teich{
        width: 20em;
        border-radius: 10px;
    }

    .SogehtsBox {
        display: flex;
        flex-wrap: wrap;
    }
    .SogehtsBox div{
        flex-basis: 50%;
    }
}

