


.InlineButtons, .status, .WilderHund, .Teich{

    display: none;
    box-shadow:2px 2px 5px #000000;

}

ul {
    list-style: none;
    color: #222222;
}

section p {
    max-width: 300px;
    align-self: center;
}

section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.Rotertext{
    color: red;
}

@media (min-width: 1000px){

    .InlineButtons, .status, .WilderHund, .Teich{
        display: inline;
        align-self: center;
        height:auto;
    }

    .InlineButtons{
        width: 20em;
        border-radius: 7%;
    }

    .status{
        width: 35em;
        border-radius: 7%;
    }

    .WilderHund{
        width: 20em;
        border-radius: 7%;
    }

    .Teich{
        width: 20em;
        border-radius: 7%;
    }
}

