body {

}
header, footer, section {

}

header{
    flex-grow: 0.5;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

section{
    flex-grow: 10;
    border-bottom: 1px solid lightgrey;
}

footer{
    flex-grow: .2;
    text-align: right;
}

.flex-container {
    display:flex;
    flex-direction: column;
    height: 98vh;
    background-color: #0088cc;
    }

header img{
    height: 80%;
}

header h1{
    font-family: "Microsoft JhengHei";
    font-size: 2em;
    margin-left: 2em;
}

.imagebox{
    width: 33%;
}