body {
    height: 100vh;
}
header, footer, section {
    outline: 1px solid black;

}

header{
    flex-grow: 0.5;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

section{
    flex-grow: 10;
}

footer{
    flex-grow: 1;
}

.flex-container {
    display:flex;
    flex-direction: column;
    height: 100vh;
    }

header img{
    height: 80%;
}

header h1{
    font-family: "Microsoft JhengHei";
    font-size: 2em;
    margin-left: 2em;
}